<h2> Lista de Contatos</h2>
<table class = "table table-striped">
    <thead>
        <tr align="center">
            <th> Nome</th>
            <th> Sobrenome </th>
            <th> Email </th>
            <th> Ações </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let funcionario of funcionarios" align="center">
            <td> {{ funcionario.nome }} </td>
            <td> {{ funcionario.sobrenome }} </td>
            <td> {{ funcionario.email }} </td>
            <td>
                <button (click) = "funcionarioUpdate(funcionario.id)" class = "btn btn-dark"> Atualizar</button>
                <button (click) = "funcionarioDelete(funcionario.id)" class = "btn btn-danger" style="margin-left: 10px"> Deletar</button>
                <button (click) = "funcionarioDetails(funcionario.id)" class = "btn btn-info" style="margin-left: 10px"> Visualizar</button>
            </td>
        </tr>
    </tbody>
</table>
